#login-form-div{
      width: 22%;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      height: 250px;
      margin: auto;
      margin-top: 8%;
      border-radius: 15px;
      text-align: center;

}
  #s {
      padding-top: 20px;
      font-size: larger;
      font-size: 30px;
  }
      #login-form-div>form>input {
    margin-top: 20px;
    padding: 3px;
     
}
#submit{
    width: 50%;
    padding: 5px;
    border-radius: 25px;
    background-color: #2090a9;
    color: white;
    border: 1px solid #2090a9;
}

